<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ephemeris</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script data-main="js/app" src="js/lib/require.js"></script>
  </head>
  <body>
    <div id="loading-screen" class="jumbotron vertical-center">
      <div class="container">
        <h1>Ephemeris</h1>
        <p class="loading-text">Loading: 0%<p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
    <div id="game-over" class="jumbotron vertical-center hidden">
      <div class="container">
        <h1></h1>
        <button id="download-replay" class="btn btn-primary">Download Replay</button>
      </div>
    </div>
    <div id="paused" class="jumbotron vertical-center hidden">
      <div class="container">
        <h1>Surrender?</h1>
        <button id="paused-continue" class="btn btn-primary">Continue</button>
        <button id="paused-forfeit" class="btn btn-danger">Forfeit</button>
      </div>
    </div>
    <div id="phaser-container">
      <div id="phaser-body"></div>
    </div>
  </body>
</html>
