<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ephemeris</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="js/lib/jquery.js"></script>
  </head>
  <body>
    <div id="overlay"></div>
    <div class="container">
      <h1>Ephemeris</h1>
      <div id="buttons">
        <div class="row col-sm-6 col-sm-offset-3">
          <a class="btn btn-lg btn-primary" href="/newgame">New Game</a>
          <a class="btn btn-lg btn-primary" href="/lobby">Join Game</a>
        </div>
        <div id="tutorial" class="row col-sm-2 col-sm-offset-5">
          <a class="btn btn-lg btn-warning" href="/tutorial">Tutorial</a>
        </div>
      </div>
    </div>
    <audio id="background-music" autoplay loop volume=0>
      <source src="assets/sounds/background.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <script>
     $("audio")[0].volume = 0.1;
      $("a").click(function(e){
          var link = $(this);
          e.preventDefault();
          $("#background-music").animate({
              volume: 0
          }, 500, function(){
              console.log(e, link);
              window.location.href = link[0].href;
          });
          $("#overlay").fadeIn();
      })
    </script>
  </body>
</html>
