<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ephemeris: Join a game</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lobby.css">
    <script src="js/lib/jquery.js"></script>
  </head>
  <body>
    <div id="overlay"></div>
    <div class="container">
      <div class="row col-sm-offset-4 col-sm-4">
        <h1>Lobby</h1>
      </div>
      <div class="row col-sm-offset-2 col-sm-8">
        <table class="table">
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Map</th>
            <th>Players</th>
          </tr>
          <% var count=0 %>
          <% for(var id in games) {%>
          <% if (games[id].length > 0 && games[id].length < 2){%>
          <% ++count %>
          <tr gameid="<%= id %>">
            <td><%= count %></td>
            <td><%= games[id].gamename %></td>
            <td><%= games[id].mapName %></td>
            <td><%= games[id].length + "/2" %></td>
          </tr>
          <% }} %>
        </table>
      </div>
    </div>
    <audio id="background-music" autoplay loop>
      <source src="assets/sounds/background.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </body>
  <script>
   $("#overlay").fadeOut();
   $("audio")[0].volume = 0.1;
   $("tr td").click(function(){
     var id = $(this).parent().attr("gameid");
     document.location.href = '/game?id=' + id;
   });
  </script>
</html>
