body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #151515;
}

#loading-screen, #game-over, #paused {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#game-over, #paused {
    background-color: rgba(0,0,0,0.6);
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}